body {
  margin: 60px auto;
  width: 960px;
  font-family: georgia, times, serif;
}

#alert { color: red; font-size: 32px; width: 100%; text-align: center; margin-bottom: 30px; }
#notice { color: green; font-size: 32px; width: 100%; text-align: center; margin-bottom: 30px; }

form { font-size: 48px; text-align: center; margin-bottom: 80px; }
input { font-size: 48px; padding: 5px; text-align: center; font-family: georgia, times, serif; border: 1px dashed #d9d9d9; border-bottom: 3px solid black; outline: none; }
#discipline_initial {  margin-right: -10px; width: 50px;}
#discipline_expanded { width: 400px; }
.tagline { font-size: 24px; color: #666; margin-top: 10px; }
.tagline input { border-bottom: 1px dashed #d9d9d9; width: 700px; font-size: 24px; color: #666; }
#discipline_submit { margin-top: 20px; font-size: 24px; border: 3px solid #999; cursor: pointer; }
#discipline_submit:hover { background-color: #ddd; }

.sheeple { width: 100%; text-align: center; }

ul { list-style: none; margin: 0px; padding: 0px; }
ul li { padding: 10px; margin-top: 0px; }
ul .practice { font-size: 18px; margin-bottom: 0px; color: #444; }
ul .tagline { font-size: 14px; margin-top: 5px; color: #777;}
ul .tweet { float: right; text-align: center; }
ul .tweet a { color: #666; }
ul li:hover { background-color: #FFFFCC; }

ul li.highlight { background-color: #D7FFA8; }
ul li.good { margin: 10px 0px; }
ul li.good .practice { font-size: 24px; margin-bottom: 0px; color: #333;}
ul li.good .tagline { font-size: 18px; margin-top: 5px; color: #666; }
ul li.good .tweet a { color: blue; }

#footer { margin-top: 60px; }
a.missing-tagline { color: #ccc; font-style: italic; }
.spacer { height: 60px; }